:root {
	--col-primary: #3b3bce;
	--col-secondary: #615efc;
	--col-accent: #5858ec;
	--col-warning: #db9459;
	--col-warning-dark: #ff9a00;
}

#username {
	text-transform: capitalize;
}

a {
	cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: var(--col-secondary);
}

.nav-link {
	color: var(--bs-heading);
}

.nav-link:hover {
	color: var(--col-secondary);
}

.btn-primary {
	background-color: var(--col-secondary);
	border-color: var(--col-secondary);
}

.btn-primary:hover {
	background-color: var(--col-primary);
	border-color: var(--col-primary);
}

.btn-secondary {
	background-color: var(--col-warning-dark);
	border-color: var(--col-warning-dark);
}

.btn-secondary:hover {
	background-color: var(--col-warning);
	border-color: var(--col-warning);
}

.leaflet-popup-content {
	width: 180px;
}

/* 
========================

	S I D E  B A R

========================
*/

.sidebar {
	max-width: 200px;
}

.sidebar a {
	color: black;
}

.sidebar a:hover,
.sidebar a:focus {
	color: black;
	background-color: white;
}

.sidebar a>* {
	transition: all 0.2s ease-in;
}

.sidebar a:hover>* {
	transform: translateX(1px);
}

/* 
========================

	C O N T E N T

========================
*/

content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.dashboard-content {
	position: relative;
}


/* 
========================

	T A B L E

========================
*/

.master-data {
	z-index: 1000;
	width: 100%;
}

.recap {
	z-index: 1000;
	width: 100%;
}

.recap-data {
	width: 260px;
}

@media (min-width: 1799px) {
	.master-data {
		max-width: 2000px;
	}

	.recap {
		max-width: 2000px;
	}

}

/* 
========================

	M A P

========================
*/

.map {
	width: 100%;
	height: 80dvh;
}

@media (min-width: 1799px) {
	.map {
		max-width: 2000px;
	}
}

/*Legend specific*/
.legend {
	padding: 6px 8px;
	font: 14px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	/*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
	/*border-radius: 5px;*/
	line-height: 24px;
	color: #555;
}

.legend h4 {
	text-align: center;
	font-size: 16px;
	margin: 2px 12px 8px;
	color: #777;
}

.legend span {
	position: relative;
	bottom: 3px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin: 0 8px 0 0;
	opacity: 0.7;
}

.legend i.icon {
	background-size: 18px;
	background-color: rgba(255, 255, 255, 1);
}
