:root {
	--col-primary: #3b3bce;
	--col-secondary: #615efc;
	--col-accent: #5858ec;
	--col-warning: #db9459;
	--col-warning-dark: #ff9a00;
}

#username {
	text-transform: capitalize;
}

a {
	cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: var(--col-secondary);
}

.nav-link {
	color: var(--bs-heading);
}

.nav-link:hover {
	color: var(--col-secondary);
}

.btn-primary {
	background-color: var(--col-secondary);
	border-color: var(--col-secondary);
}

.btn-primary:hover {
	background-color: var(--col-primary);
	border-color: var(--col-primary);
}

.btn-secondary {
	background-color: var(--col-warning-dark);
	border-color: var(--col-warning-dark);
}

.btn-secondary:hover {
	background-color: var(--col-warning);
	border-color: var(--col-warning);
}

.leaflet-popup-content {
	width: 180px;
}

/* 
========================

	S I D E  B A R

========================
*/

.sidebar {
	max-width: 200px;
}

.sidebar a {
	color: black;
}

.sidebar a:hover,
.sidebar a:focus {
	color: black;
	background-color: white;
}

.sidebar a > * {
	transition: all 0.2s ease-in;
}

.sidebar a:hover > * {
	transform: translateX(1px);
}

/* 
========================

	C O N T E N T

========================
*/

content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width: 1799px) {
	content {
		flex-direction: row;
		justify-content: start;
		align-items: start;
	}
}

.dashboard-content {
	position: relative;
}

/* 
========================

	T A B L E

========================
*/

.master-data {
	z-index: 10000000;
	width: 90%;
	max-width: 1000px;
}

@media (min-width: 1799px) {
	.master-data {
		position: static;
		height: 100%;
		min-width: 380px;
		max-width: 750px;
	}
}

/* 
========================

	M A P

========================
*/

.map {
	width: 100%;
	height: 80dvh;
}

@media (min-width: 1799px) {
	.map {
		max-width: 1300px;
	}
}
